<style>
  .careers-detail-container{
    padding-top:0rem;
  }
.career-detail-body{
    padding:3rem;
    padding-left:27rem;
  padding-right:27rem;
}
  .img_container{
    max-height:270px;
    width: 100%;

  }
  .image-banner-career{
    height: 270px;
    width: 270px;
    object-fit: cover;

  }

  .button_container{
    display:flex;
    flex-direction: column;
    align-items:center;
  }
  .button{
    margin-top:3rem;
    margin-bottom:3rem;
    
  }

@media only screen and (max-width: 1239px) {
  .career-detail-body{
    padding:1rem;
    padding-left:3rem;
    padding-right:3rem;
}
}

</style>

  {% for career_detail in shop.metaobjects.career_detail.values %}
    {% if career_detail.page_handle_hardcoded == page.handle %}
      <div class="career-detail-container">
        <div class="img_container">
           <img class='image-banner-career' src="{{ career_detail.photo | img_url:'500x' }}" alt="career_detail" loading="lazy" height="" width="">
          <img class='image-banner-career' src="{{ career_detail.photo | img_url:'500x' }}" alt="career_detail" loading="lazy" height="" width="">
        <img class='image-banner-career' src="{{ career_detail.photo | img_url:'500x' }}" alt="career_detail" loading="lazy" height="" width="">
          <img class='image-banner-career' src="{{ career_detail.photo | img_url:'500x' }}" alt="career_detail" loading="lazy" height="" width="">
          <img class='image-banner-career' src="{{ career_detail.photo | img_url:'500x' }}" alt="career_detail" loading="lazy" height="" width="">
        </div>
        <div class="career-detail-body">
          <h1 class="career-detail-name">{{ career_detail.job_title }}</h1>
          <p class="career-detail-m_w_d">{{ career_detail.job_description }}</p>
          <p class="career-detail-m_w_d">{{ career_detail.job_description_2 }}</p>
          <a href="{{ career_detail.apply_1 }}" class="button primary--button">APPLY HERE</a>
          <h2 class="career-detail-m_w_d">{{ career_detail.title_1 }}</h2>
          <p class="career-detail_description_1">{{ career_detail.description_1 }}</p>
          <h2 class="career-detail-m_w_d">{{ career_detail.title_2 }}</h2>
          <p class="career-detail_description_2">{{ career_detail.description_2 }}</p>
          <h2 class="career-detail-m_w_d">{{ career_detail.title_3 }}</h2>
          <p class="career-detail_description_3">{{ career_detail.description_3 }}</p>
          <h2 class="career-detail-m_w_d">{{ career_detail.title_4 }}</h2>
          <p class="career-detail-m_w_d">{{ career_detail.description_4 }}</p>
          <h2 class="career-detail-m_w_d">{{ career_detail.title_5 }}</h2>
          <p class="career-detail_description_5">{{ career_detail.description_5 }}</p>
          <h2 class="career-detail-m_w_d">{{ career_detail.title_6 }}</h2>
          <p class="career-detail_description_6">{{ career_detail.description_6 }}</p>
          <div class="button_container"> 
            <a href="{{ career_detail.apply_2 }}" class="button primary--button">APPLY HERE</a>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
<!-- This Scrip allow us to have a bullet points -->
<script>
 document.addEventListener("DOMContentLoaded", function() {
  const descriptionElements = document.querySelectorAll(
    '.career-detail_description_1,.career-detail_description_2, .career-detail_description_3, .career-detail_description_5, .career-detail_description_6'
  );

  descriptionElements.forEach(descriptionElement => {
    const description = descriptionElement.textContent;
    const lines = description.split('\n');
    const listItems = lines.map(line => `<li>${line.trim()}</li>`).join('');
    descriptionElement.innerHTML = `<ul>${listItems}</ul>`;
  });
});
</script>
<!-- This Scrip allow us to have a bullet points -->

<!-- Debug to check the handle of the page and of the hardcoded metaobject :) -->
<div>
  Page handle: {{ page.handle }}
  {% for career_detail in shop.metaobjects.career_detail.values %}
    <div>
  Page hardcoded handle: {{ career_detail.page_handle_hardcoded }}
    </div>
  {% endfor %}
</div>
<!-- End Debug -->


{% schema %}
  {
    "name": "Career Detail",
    "settings": [],
    "presets": [{
        "name": "Career Detail",
        "category": "Text"
  }]
  }
{% endschema %}