<style>
.careers-detail-container{
  padding:4rem;
}
img{
  width:100%;
  max-height: 300px;
   object-fit: cover;
}
@media only screen and (min-width: 990px) {
  
}

</style>

<div class="careers-detail-container">
  {% for career_detail in shop.metaobjects.career_detail.values %}
    {% if career_detail.page_handle_hardcoded == page.handle %}
      <div class="career-detail-container">
        <div class="img">
          <img src="{{ career_detail.photo | img_url:'500x' }}" alt="career_detail" loading="lazy" height="" width="">
        </div>
        <div class="career-detail-body">
          <h2 class="career-detail-name">{{ career_detail.job_title }}</h2>
          <p class="career-detail-m_w_d">{{ career_detail.job_description }}</p>
          <p class="career-detail-m_w_d">{{ career_detail.job_description_2 }}</p>
          <a href="{{ career_detail.button_1 }}" class="button primary--button">APPLY HERE !</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<!-- Debug -->
<div>
  Page handle: {{ page.handle }}
  {% for career_detail in shop.metaobjects.career_detail.values %}
    <div>
  Page hardcoded handle: {{ career_detail.page_handle_hardcoded }}
    </div>
  {% endfor %}
</div>
<!-- End Debug -->



{% schema %}
  {
    "name": "Career Detail",
    "settings": [],
    "presets": [{
        "name": "Career Detail",
        "category": "Text"
  }]
  }
{% endschema %}