<style>


@media only screen and (max-width: 1239px) {

}

</style>

  {% for coffee_beans_main_seo in shop.metaobjects.coffee_beans_main_seo.values %}

      <div class="coffee-main-seo-container">

        <h1>{{ coffee_beans_main_seo.title_1 }}</h1>
        <p>{{ coffee_beans_main_seo.paragraph_1 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_1_1 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_1_2 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_1_3 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_1_4 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_1_5 }}</p>
        <br>
        <h1>{{ coffee_beans_main_seo.title_2 }}</h1>
        <p>{{ coffee_beans_main_seo.paragraph_2 }}</p>
        <br>
        <h1>{{ coffee_beans_main_seo.title_3 }}</h1>
        <p>{{ coffee_beans_main_seo.paragraph_3 }}</p>
        <br>
        <h1>{{ coffee_beans_main_seo.title_4 }}</h1>
        <p>{{ coffee_beans_main_seo.paragraph_4 }}</p>
        <br>
        <h1>{{ coffee_beans_main_seo.title_5 }}</h1>
        <p>{{ coffee_beans_main_seo.paragraph_5 }}</p>

      </div>

  {% endfor %}






{% schema %}
  {
    "name": "Coffee Beans Main SEO",
    "settings": [],
    "presets": [{
        "name": "Coffee Beans Main SEO",
        "category": "Text"
  }]
  }
{% endschema %}