<style>

  :root {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
}

.coffee-main-seo-container {
  background-color: var(--background-color);
  color: var(--text-color);
}
.image-coffee-beans-1{
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto;

}
.image-coffee-beans-2{
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto;

}
.image-coffee-beans-3{
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto;
}
.image-coffee-beans-4{
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto;

}
.image-coffee-beans-5{
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto;

}

@media only screen and (min-width: 990px) {

  .coffee-main-seo-1{
    display:flex;
    flex-direction:row;
  }
  .image-coffee-beans-1{
    height:470px;
    width:auto;
    padding: 4rem;
    padding-right:0px;
    padding-bottom: 4rem;
  }
  
  .coffee-main-seo-2{
    display:flex;
    flex-direction:row-reverse;
  }
  .image-coffee-beans-2{
    height:470px;
    width:auto;
    padding: 4rem;
    padding-left:0px;
    padding-bottom: 4rem;
  }
  .coffee-main-seo-3{
    display:flex;
    flex-direction:row-reverse;
  }
  .image-coffee-beans-3{
    height:470px;
    width:auto;
    padding: 4rem;
    padding-left:0px;
    padding-bottom: 4rem;
  }
  .coffee-main-seo-4{
    display:flex;
    flex-direction:row-reverse;
  }
  .image-coffee-beans-4{
    height:470px;
    width:auto;
    padding: 4rem;
    padding-left:0px;
    padding-bottom: 4rem;
  }
  .coffee-main-seo-5{
    display:flex;
    flex-direction:row;
  }
  .image-coffee-beans-5{
    height:470px;
    width:auto;
    padding: 4rem;
    padding-left:0px;
    padding-bottom: 4rem;
  }
}

</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const themeToggle = document.getElementById('theme-toggle');
    const mainContainer = document.querySelector('.coffee-main-seo-container');
    const currentTheme = localStorage.getItem('theme');
    
    if (currentTheme === 'dark') {
      mainContainer.classList.add('dark-mode');
    }

    themeToggle.addEventListener('click', () => {
      mainContainer.classList.toggle('dark-mode');
      if (mainContainer.classList.contains('dark-mode')) {
        localStorage.setItem('theme', 'dark');
      } else {
        localStorage.setItem('theme', 'light');
      }
    });
  });
</script>

  
  <button id="theme-toggle">Toggle Dark/Light Mode</button>
  
  {% for coffee_beans_main_seo in shop.metaobjects.coffee_beans_main_seo.values %}

  <div class="coffee-main-seo-container">
        <div class='coffee-main-seo-1'>
          <div>
            <h1>{{ coffee_beans_main_seo.title_1 }}</h1>
            <p>{{ coffee_beans_main_seo.paragraph_1 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_1_1 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_1_2 }}</p>
          </div>
            <img class='image-coffee-beans-1' src="{{ coffee_beans_main_seo.image_1 | img_url:'500x' }}" alt="coffee beans" loading="lazy" height="" width="">
        </div>
        <p>{{ coffee_beans_main_seo.paragraph_1_3 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_1_4 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_1_5 }}</p>

      <div class='coffee-main-seo-2'>
          <div>
            <h1>{{ coffee_beans_main_seo.title_2 }}</h1>
            <p>{{ coffee_beans_main_seo.paragraph_2 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_2_1 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_2_2 }}</p>
          </div>
            <img class='image-coffee-beans-2' src="{{ coffee_beans_main_seo.image_2 | img_url:'500x' }}" alt="coffee beans" loading="lazy" height="" width="">
        </div>
        <p>{{ coffee_beans_main_seo.paragraph_2_3 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_2_4 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_2_5 }}</p>
        
      <div class='coffee-main-seo-3'>
          <div>
            <h1>{{ coffee_beans_main_seo.title_3 }}</h1>
            <p>{{ coffee_beans_main_seo.paragraph_3 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_3_1 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_3_2 }}</p>
          </div>
            <img class='image-coffee-beans-3' src="{{ coffee_beans_main_seo.image_3 | img_url:'500x' }}" alt="coffee beans" loading="lazy" height="" width="">
        </div>
        <p>{{ coffee_beans_main_seo.paragraph_3_3 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_3_4 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_3_5 }}</p>

        
      <div class='coffee-main-seo-4'>
          <div>
            <h1>{{ coffee_beans_main_seo.title_4 }}</h1>
            <p>{{ coffee_beans_main_seo.paragraph_4 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_4_1 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_4_2 }}</p>
          </div>
            <img class='image-coffee-beans-4' src="{{ coffee_beans_main_seo.image_4 | img_url:'500x' }}" alt="coffee beans" loading="lazy" height="" width="">
        </div>
        <p>{{ coffee_beans_main_seo.paragraph_4_3 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_4_4 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_4_5 }}</p>

      <div class='coffee-main-seo-5'>
          <div>
            <h1>{{ coffee_beans_main_seo.title_5 }}</h1>
            <p>{{ coffee_beans_main_seo.paragraph_5 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_5_1 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_5_2 }}</p>
            <img class='image-coffee-beans-5' src="{{ coffee_beans_main_seo.image_5 | img_url:'500x' }}" alt="coffee beans" loading="lazy" height="" width="">
          </div>
        </div>
        <p>{{ coffee_beans_main_seo.paragraph_5_3 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_5_4 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_5_5 }}</p>
        
      </div>

  {% endfor %}



{% schema %}
  {
    "name": "Coffee Beans Main SEO",
    "settings": [],
    "presets": [{
        "name": "Coffee Beans Main SEO",
        "category": "Text"
  }]
  }
{% endschema %}