<style>
.image-coffee-beans-1{
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto;
}
  .image-coffee-beans-2{
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto;
}

@media only screen and (min-width: 990px) {

  .coffee-main-seo-1{
    display:flex;
    flex-direction:row;
  }
  .image-coffee-beans-1{
    height:470px;
    width:auto;
    padding: 4rem;
    padding-right:0px;
    padding-bottom: 0px;
  }
    .coffee-main-seo-2{
    display:flex;
    flex-direction:row-reverse;
  }
  .image-coffee-beans-2{
    height:470px;
    width:auto;
    padding: 4rem;
    padding-left:0px;
    padding-bottom: 0px;
  }
}

</style>

  {% for coffee_beans_main_seo in shop.metaobjects.coffee_beans_main_seo.values %}

      <div class="coffee-main-seo-container">
        <div class='coffee-main-seo-1'>
          <div>
            <h1>{{ coffee_beans_main_seo.title_1 }}</h1>
            <p>{{ coffee_beans_main_seo.paragraph_1 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_1_1 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_1_2 }}</p>
          </div>
            <img class='image-coffee-beans-1' src="{{ coffee_beans_main_seo.image_1 | img_url:'500x' }}" alt="coffee beans" loading="lazy" height="" width="">
        </div>
        <p>{{ coffee_beans_main_seo.paragraph_1_3 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_1_4 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_1_5 }}</p>

      <div class='coffee-main-seo-2'>
          <div>
            <h1>{{ coffee_beans_main_seo.title_2 }}</h1>
            <p>{{ coffee_beans_main_seo.paragraph_2 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_2_1 }}</p>
            <p>{{ coffee_beans_main_seo.paragraph_2_2 }}</p>
          </div>
            <img class='image-coffee-beans-2' src="{{ coffee_beans_main_seo.image_2 | img_url:'500x' }}" alt="coffee beans" loading="lazy" height="" width="">
        </div>
        <p>{{ coffee_beans_main_seo.paragraph_2_3 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_2_4 }}</p>
        <p>{{ coffee_beans_main_seo.paragraph_2_5 }}</p>
        


        
        <h1>{{ coffee_beans_main_seo.title_3 }}</h1>
        <p>{{ coffee_beans_main_seo.paragraph_3 }}</p>
        <h1>{{ coffee_beans_main_seo.title_4 }}</h1>
        <p>{{ coffee_beans_main_seo.paragraph_4 }}</p>
        <h1>{{ coffee_beans_main_seo.title_5 }}</h1>
        <p>{{ coffee_beans_main_seo.paragraph_5 }}</p>

      </div>

  {% endfor %}






{% schema %}
  {
    "name": "Coffee Beans Main SEO",
    "settings": [],
    "presets": [{
        "name": "Coffee Beans Main SEO",
        "category": "Text"
  }]
  }
{% endschema %}