{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}


  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  
  }

.newsletter-container{
  position:relative;
  height:auto;
  margin-top:3rem;


}
.newsletter-content-container{
  position:absolute;
  top:80px;
  right:140px;
  
}
.newsletter-text-container{

  padding-right:2rem;
  text-align:end;
}
.newsletter-title {
font-size:42px;

}
.text-newsletter{
  margin-top:5rem;
}


.newsletter-buttons-container{

  padding-right:2rem;

}
.newsletter-form-container{
  width:100%;
  padding-left:45rem;
  
}
.newsletter-buttons-container form {
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
}
input[type="radio"] + label {
  cursor: pointer;
}

input[type="radio"] {
  accent-color: black; /* Change this to your desired color */
}



.newsletter-image-container{
  width:100%;
  height:700px;
}

.newsletter-image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Shadow covers 20% of the image height from the top */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent); /* 90% black to transparent */
    pointer-events: none;
}

.image-newsletter{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position: right 20px;

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
    


}

 {%comment%} Small screen {%endcomment%}
 @media screen and (max-width: 750px) {

   .newsletter-content-container{
     position:absolute;
     top:40px;
     right:0;
     left:0;
 
     display: flex;
     flex-direction: column;
     align-items: center;

     padding-left: 2rem;
     padding-right: 2rem;
   }
   .newsletter-title{
    font-size:32px;
   }
   .image-newsletter {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top; /* Adjusts the position to be at the top center */

} 
 .newsletter-text-container {
    padding-right:0rem;
    text-align:center;
    margin-top:2rem;
  }
  .text-newsletter{
    margin-top:5rem;
  }
  .newsletter-buttons-container form {
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .newsletter-buttons-container{

  padding-right:0rem;

}
  .newsletter-form-container{
    min-width:100%;
    padding:0;
  }
}
  
  
{%- endstyle -%}


<section class="newsletter-container" style="display:none">

  <div class="newsletter-image-container">
    {%- if section.settings.image_newsletter != blank -%}
      <img
        srcset="{%- if section.settings.image_newsletter.width >= 165 -%}{{ section.settings.image_newsletter | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if section.settings.image_newsletter.width >= 360 -%}{{ section.settings.image_newsletter | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if section.settings.image_newsletter.width >= 535 -%}{{ section.settings.image_newsletter | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if section.settings.image_newsletter.width >= 750 -%}{{ section.settings.image_newsletter | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image_newsletter.width >= 1070 -%}{{ section.settings.image_newsletter | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if section.settings.image_newsletter.width >= 1500 -%}{{ section.settings.image_newsletter | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ section.settings.image_newsletter | image_url }} {{ section.settings.image_newsletter.width }}w"
        src="{{ section.settings.image_newsletter | image_url: width: 150 }}"
        sizes=""
        alt="{{ section.settings.image_newsletter.alt | escape }}"
        loading="lazy"
        width="{{ 300}}"
        height="{{ 300}}"
        class="image-newsletter"
      >
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>

  <section class="newsletter-content-container">

    
    <section class="newsletter-text-container">
      
      {%- if section.settings.heading_newsletter != blank -%}
        <h2 class="newsletter-title">{{- section.settings.heading_newsletter -}}</h2>
      {%- endif -%}
    
      {%- if section.settings.perks_newsletter != blank -%}
        <div class="">{{- section.settings.perks_newsletter  -}}</div>
      {%- endif -%}

      {%- if section.settings.text_newsletter != blank -%}
        <div class="text-newsletter">{{- section.settings.text_newsletter  -}}</div>
      {%- endif -%}
    
    </section>


    
    <section class="newsletter-buttons-container">
      <form id="languageSelectionForm">
        <div style="margin-right: 2rem;">
          <input  type="radio" id="englishOption" name="language" value="English" checked>
          <label for="englishOption">English</label>
        </div>
        <div style="margin-right: 2rem;">
          <input  type="radio" id="germanOption" name="language" value="German">
              <label for="germanOption">German</label>
        </div>
      </form>
    </section>
    

    <section class="newsletter-form-container">

      <div id="germanForm" class="klaviyo-form-Y9AGrt"style="display:none;" ></div>
      <div id="englishForm" class="klaviyo-form-TTe8CY" ></div>
    </section>

  </section>
</section>


{% javascript %}
 

    // NEWSLETTER LOGIC

document.addEventListener('DOMContentLoaded', function() {
  // Function to show one form and hide the other based on radio button selection
  function toggleForms() {
    // Check which radio button is selected
    const selectedLanguage = document.querySelector('input[name="language"]:checked').value;
    if (selectedLanguage === 'English') {
      document.getElementById('englishForm').style.display = 'block'; // Show the English form
      document.getElementById('germanForm').style.display = 'none'; // Hide the German form
    } else if (selectedLanguage === 'German') {
      document.getElementById('germanForm').style.display = 'block'; // Show the German form
      document.getElementById('englishForm').style.display = 'none'; // Hide the English form
    }
  }

  // Add change event listeners to the radio buttons
  document.querySelectorAll('input[name="language"]').forEach(radio => {
    radio.addEventListener('change', toggleForms);
  });

  // Call toggleForms function initially to set the correct form visibility on page load
  toggleForms();
});

{% endjavascript %}

{% schema %}
{
  "name": "custom newsletter",
  "blocks": [

  ],
  "settings": [
      {
        "type": "image_picker",
        "id": "image_newsletter",
        "label": "newsletter image"
      },
      {
        "type": "text",
        "id": "heading_newsletter",
        "label": "heading newsletter"
      },
      {
        "type": "richtext",
        "id": "perks_newsletter",
        "label": "perks newsletter"
      },
      {
        "type": "richtext",
        "id": "text_newsletter",
        "label": "text newsletter"
      }
  ]
}
{% endschema %}
