{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

.image-grid-custom-aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Four equal columns */
    gap: 15px; /* Adjust the gap between items */
    padding:0;
    margin-right:4rem;
    margin-left:4rem;
    height:80vh;
}
.title-image{
    font-size:18px;
    border-bottom:1px solid grey;
    display:flex;
}
.grid-item {
    overflow: hidden; /* Ensure child elements don't overflow */
}
.full-width {
    grid-column: span 4; /* Span 2 columns (full width) */
}
.half-width-left {
    grid-column: span 2; /* Span 1 column (half width) */
    padding-right:0;
}
.half-width-right {
    grid-column: span 2; /* Span 1 column (half width) */
    padding-left:0;
}
.image-with-text{
    position:relative;
    overflow:hidden;
    width:100%;
}
.button-text-container-aboutus {
    position: absolute;
    bottom: 0px;
    padding: 10px; /* Adjust padding as needed */
    background-color:#121212bd;
}
.button-text-container-aboutus h2  {
    margin:0rem;
    padding:0rem;
    font-weight: bold;

  }
.button-text-container-aboutus p  {
    margin:0rem;
    padding:0rem;
}
.button-aboutus-section{
    height: 2rem;
    width:4rem;
    padding:1rem;
    border-radius:4px;
}
.button:after {
    box-shadow:none;
}
.image-direct-container-aboutus {
    height: 600px; /* Adjust the height of the container as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image remains within the container */
    position: relative;
}
.image-direct-container-aboutus img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title_aboutus_container{
    display:flex;
    flex-direction:column;
    background-color:none;
    align-items:center;
    justify-content:center;
    width:auto;
    margin-left:4rem;
    margin-right:4rem;
}
.title_aboutus_container h2{
    margin-bottom:0px;
}
.title_aboutus_container p {
    margin-top:0px;
}
.linktoblock_aboutus_container{
    display:flex;
    flex-direction:column;
    background-color:none;
    align-items:flex-end;
    justify-content:center;
    width:auto;
    margin-left:4rem;
    margin-right:4rem;
    padding-right:2rem;
    margin-top:2rem;
}
.linktoblock_aboutus_container h2{
   font-size:12px;
}

/* Small Screen */
@media screen and (max-width: 750px) {
    .half-width-left {
        grid-column: span 4; /* Span 1 column (half width) */
        padding-right:0px;
    }
    .half-width-right {
        grid-column: span 4; /* Span 1 column (half width) */
        padding-left:0px;
    }
    .button-aboutus-section{
        display:none;  
    }
    .button-text-container-aboutus {
        position: absolute;
        bottom: 0%;
        right: 0px; 
        text-align:center;
        background-color:#121212bd; 
    }
    .image-grid-custom-aboutus {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Four equal columns */
        gap: 15px; /* Adjust the gap between items */
        margin-right:2rem;
        margin-left:2rem;
    }
    .title-image{
        font-size:16px;
        padding:1rem;
    }
    .image-direct-container-aboutus {
        height: 400px; 
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    .title_aboutus_container{
        margin-left:2rem;
        margin-right:2rem;
    }
    .linktoblock_aboutus_container{
        margin-left:2rem;
        margin-right:2rem;
    }

}

{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
  if section.settings.color_scheme == section.settings.section_color_scheme and section.settings.content_layout == 'no-overlap'
    assign remove_color_classes = true
  endif
-%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">

    <div class="title_aboutus_container">

        <h2 class="">
            {{ section.settings.title_aboutus }}
        </h2>
            
        <p class="">
            {{ section.settings.title_description_aboutus }}
        </p>
        
      
    

    </div>
    <section class="image-grid-custom-aboutus ">


        <div class="image-with-text full-width">
            <a href="{{ section.settings.button_link1_aboutus }}">

                <div
                class="global-media-settings image-direct-container-aboutus 
                {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
            
                >
                {%- if section.settings.image1_aboutus != blank -%}
                    {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                    {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                    {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                {%- endcapture -%}
                    {%- else -%}
                    {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                    {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
                    {%- endif -%}
                    {{
                    section.settings.image1_aboutus
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                    }}
                {%- else -%}
                    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
                </div>

                </a>
                <a 
                    href="{{ section.settings.button_link1_aboutus }}" 
                    class="ancor-a">

                    <section class="page-width button-text-container-aboutus">

                        <h2 class="title-image">
                            {{ section.settings.heading1_aboutus }}
                            <svg width="25" height="25" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.75 4.5a.75.75 0 0 0 0 1.5h1.19l-2.72 2.72a.75.75 0 1 0 1.06 1.06l2.72-2.72v1.19a.75.75 0 0 0 1.5 0v-3a.75.75 0 0 0-.75-.75h-3Z" fill="white"></path>
                            <path d="M15 11.25a.75.75 0 0 0-1.5 0v1c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5c0-.69.56-1.25 1.25-1.25h1a.75.75 0 0 0 0-1.5h-1a2.75 2.75 0 0 0-2.75 2.75v4.5a2.75 2.75 0 0 0 2.75 2.75h4.5a2.75 2.75 0 0 0 2.75-2.75v-1Z" fill="white"></path>
                            </svg>
                        </h2>
                    

                        
                            
                        <p class="">
                            {{ section.settings.text1_aboutus }}
                        </p>
                                
                  
                    </section>

                </a>
    
        </div>

        <div class="image-with-text half-width-left">
            <a href="{{ section.settings.button_link2_aboutus }}">

                <div
                class="global-media-settings image-direct-container-aboutus 
                {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
            
                >
                {%- if section.settings.image2_aboutus != blank -%}
                    {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                    {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                    {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                {%- endcapture -%}
                    {%- else -%}
                    {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                    {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
                    {%- endif -%}
                    {{
                    section.settings.image2_aboutus
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                    }}
                {%- else -%}
                    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
                </div>

                </a>
                <a 
                    href="{{ section.settings.button_link2_aboutus }}"
                    class="ancor-a"
                    >

                    <section class="page-width button-text-container-aboutus">
            
                        <h2 class="title-image">
                            {{ section.settings.heading2_aboutus }}
                            <svg width="25" height="25" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.75 4.5a.75.75 0 0 0 0 1.5h1.19l-2.72 2.72a.75.75 0 1 0 1.06 1.06l2.72-2.72v1.19a.75.75 0 0 0 1.5 0v-3a.75.75 0 0 0-.75-.75h-3Z" fill="white"></path>
                            <path d="M15 11.25a.75.75 0 0 0-1.5 0v1c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5c0-.69.56-1.25 1.25-1.25h1a.75.75 0 0 0 0-1.5h-1a2.75 2.75 0 0 0-2.75 2.75v4.5a2.75 2.75 0 0 0 2.75 2.75h4.5a2.75 2.75 0 0 0 2.75-2.75v-1Z" fill="white"></path>
                            </svg>
                        </h2>
                            
                        <p class="">
                            {{ section.settings.text2_aboutus }}
                        </p>
                                
                  
                    </section>
                </a>
    
        </div>

        <div class="image-with-text half-width-right">
            <a href="{{ section.settings.button_link3_aboutus }}">

                <div
                class="global-media-settings image-direct-container-aboutus 
                {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
            
                >
                {%- if section.settings.image3_aboutus != blank -%}
                    {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                    {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                    {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                {%- endcapture -%}
                    {%- else -%}
                    {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                    {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
                    {%- endif -%}
                    {{
                    section.settings.image3_aboutus
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                    }}
                {%- else -%}
                    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
                </div>

                </a>
                <a 
                    href="{{ section.settings.button_link3_aboutus }}"
                    class="ancor-a">
                    <section class="page-width button-text-container-aboutus">
            
                        <h2 class="title-image">
                            {{ section.settings.heading3_aboutus }}
                            <svg width="25" height="25" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.75 4.5a.75.75 0 0 0 0 1.5h1.19l-2.72 2.72a.75.75 0 1 0 1.06 1.06l2.72-2.72v1.19a.75.75 0 0 0 1.5 0v-3a.75.75 0 0 0-.75-.75h-3Z" fill="white"></path>
                            <path d="M15 11.25a.75.75 0 0 0-1.5 0v1c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5c0-.69.56-1.25 1.25-1.25h1a.75.75 0 0 0 0-1.5h-1a2.75 2.75 0 0 0-2.75 2.75v4.5a2.75 2.75 0 0 0 2.75 2.75h4.5a2.75 2.75 0 0 0 2.75-2.75v-1Z" fill="white"></path>
                            </svg>
                        </h2>
                            
                        <p class="">
                            {{ section.settings.text3_aboutus }}
                        </p>
                                
                  
                    </section>
                </a>
    
        </div>

    </section>
    <div class="linktoblock_aboutus_container">

    <h2 class="">
        {{ section.settings.linktoblog_aboutus }}
    </h2>
        
</div>
    
</div>
    


{% schema %}
{
  "name": "Custom Section - About Us",
  "class": "section",
  "settings": [

  {
        "type": "inline_richtext",
        "id": "title_aboutus",
        "default": "What's New",
        "label": "Title"
    },
    {
        "type": "inline_richtext",
        "id": "linktoblog_aboutus",
        "default": "Latest happenings of The Barn",
        "label": "Title"
    },
    {
        "type": "inline_richtext",
        "id": "title_description_aboutus",
        "default": "Check our blog",
        "label": "Description"
    },
    {
        "type": "image_picker",
        "id": "image1_aboutus",
        "label": "t:sections.image-with-text.settings.image.label"
    },
    {
        "type": "inline_richtext",
        "id": "heading1_aboutus",
        "default": "Image with text",
        "label": "heading first image"
    },
    {
        "type": "inline_richtext",
        "id": "text1_aboutus",
        "default": "Image with text",
        "label": "text first image"
    },
    {
        "type": "text",
        "id": "button_label1_aboutus",
        "default": "Button label",
        "label": "button title first image"
    },
    {
        "type": "url",
        "id": "button_link1_aboutus",
        "label": "button link first image"
    },
    {
        "type": "checkbox",
        "id": "button_style_secondary_aboutus",
        "default": false,
        "label": "button style first image"
    },
    
    {
        "type": "image_picker",
        "id": "image2_aboutus",
        "label": "t:sections.image-with-text.settings.image.label"
    },
    {
        "type": "inline_richtext",
        "id": "heading2_aboutus",
        "default": "Image with text",
        "label": "heading first image"
    },
    {
        "type": "inline_richtext",
        "id": "text2_aboutus",
        "default": "Image with text",
        "label": "text first image"
    },
    {
        "type": "text",
        "id": "button_label2_aboutus",
        "default": "Button label",
        "label": "button title first image"
    },
    {
        "type": "url",
        "id": "button_link2_aboutus",
        "label": "button link first image"
    },
    {
        "type": "checkbox",
        "id": "button_style_secondary_aboutus2",
        "default": false,
        "label": "button style first image"
    },

    {
        "type": "image_picker",
        "id": "image3_aboutus",
        "label": "t:sections.image-with-text.settings.image.label"
    },
    {
        "type": "inline_richtext",
        "id": "heading3_aboutus",
        "default": "Image with text",
        "label": "heading first image"
    },
    {
        "type": "inline_richtext",
        "id": "text3_aboutus",
        "default": "Image with text",
        "label": "text first image"
    },
    {
        "type": "text",
        "id": "button_label3_aboutus",
        "default": "Button label",
        "label": "button title first image"
    },
    {
        "type": "url",
        "id": "button_link3_aboutus",
        "label": "button link first image"
    },
    {
        "type": "checkbox",
        "id": "button_style_secondary_aboutus3",
        "default": false,
        "label": "button style first image"
    },









 
 
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },

    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],

  "presets": [
    {
      "name": "Custom Section About Us"
    }
  ]
}
{% endschema %}
