{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
  <link
    rel="stylesheet"
    href="{{ 'quick-add.css' | asset_url }}"
    media="print"
    onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  :root  {
    --brown-clear: #8d7149;
    --white: #ffffff;
    --black: #000000;
    --green: #15aa27;
    --orange:#b26119;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }

  .section-category-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    /* background-color: purple; */
    margin-top: -10px;
  }

  .scroll-wrapper {
    overflow: hidden; /* Hide any horizontal overflow */
  }

  .scroll-container {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
  }

  .filter-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding:4px;
    overflow-x: auto; /* Enable horizontal scrolling */
  }

  .filter-button {
    /* Common button styles */
    padding: 8px 16px;
    transition: background-color 0.3s;
    font-size:16px;
    min-width: 100px;
    max-width: 127px;

    background-color: var(--black);
    border-radius: 2px;
    color: var(--white);
    cursor: pointer;
    border: 1px solid;
    margin-right:1.2rem;
  }
.filter-button[data-tag="All"] {
    border-color: white;
}

.filter-button[data-tag="Balanced"] {
    border-color: var(--brown-clear); 
}

.filter-button[data-tag="Terroir"] {
    border-color: var(--green);
}
  
.filter-button.active {
    outline-offset: 3px;
}
.filter-button[data-tag="All"].active {
  outline: 0.2px solid var(--white);
  background-color: var(--white);
  color: var(--black);  


}

.filter-button[data-tag="Balanced"].active {
  outline: 0.2px solid var(--brown-clear);
  background-color: var(--brown-clear); 
  color: var(--white);  


}

.filter-button[data-tag="Terroir"].active {
  outline: 0.2px solid var(--green);
  background-color: var(--green); 
  color: var(--white);  


}

  /* Additional styles for smaller screens */
  @media screen and (min-width: 416px) {


  .filter-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .filter-button{
    margin-right:2rem;
  }

  }
{%- endstyle -%}


<div class="scroll-wrapper" style="">
  <div class="scroll-container">
    <div class="filter-buttons">
      <button
      class="filter-button"
      >All</button>
    
      <button

      class="filter-button"
      >Grinder</button>
    
      <button
      class="filter-button"
      >Filters</button>

      <button
      class="filter-button"
      >Scales</button>

      <button
      class="filter-button"
      >Mugs</button>

      <button

      class="filter-button"
      >Aeropress</button>

    </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "t:sections.main-collection-product-grid.name",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "min": 8,
        "max": 64,
        "step": 4,
        "default": 16,
        "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4,
        "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
      },
      {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header__3.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
          }, {
            "value": "portrait",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
          }, {
            "value": "square",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
      }, {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
      }, {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
      }, {
        "type": "checkbox",
        "id": "show_tastenotes",
        "default": false,
        "label": "Show Tastenote or Tagline"
      }, {
        "type": "checkbox",
        "id": "show_rating",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
        "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
      }, {
        "type": "checkbox",
        "id": "enable_quick_add",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
      }, {
        "type": "color",
        "id": "quick_add_button_color",
        "label": "Quick Add Button Color"
      }, {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header__1.content"
      },
          {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
      {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
      }, {
        "type": "select",
        "id": "columns_mobile",
        "default": "2",
        "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
        "options": [
          {
            "value": "1",
            "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
          }, {
            "value": "2",
            "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
          }
        ]
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Coffee Equipment Filters",
        "category": "Custom"
      }

    ],
    "templates": ["collection"]
  }
{% endschema %}