{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<section class="section-{{ section.id }}-padding">
  {%- if section.settings.image != blank -%}
    <!-- Your image rendering code -->
  {%- endif -%}

  {%- if section.settings.heading != blank -%}
    <h2 class="image-with-text__heading {{ section.settings.heading_size }}" {{ section.shopify_attributes }}>
      {{ section.settings.heading | escape }}
    </h2>
  {%- endif -%}

  {%- if section.settings.text != blank -%}
    <!-- Render the text here -->
    <p>{{ section.settings.text | escape }}</p>
  {%- endif -%}
</section>


{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Image with text",
      "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "text",
      "info": "Enter your text here"
    }
  ]
}

{% endschema %}
