{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .image-with-text{
    display:flex;
    flex-direction:column;
    align-items:center;

    padding:3rem;
    background-color: none;
  }
  .image-main-slider{
    width:auto;
    height:390px;
  }
  .text-buttom-container{
    background-color:black;
  }

  @media screen and (max-width: 750px) {
    .image-with-text{
      display: flex;
      flex-direction: row;

    }
{%- endstyle -%}
<section class="image-with-text">
  <section class="section-{{ section.id }}-padding">
    {%- if section.settings.image != blank -%}
      <img
        srcset="
          {%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ section.settings.image | image_url }} {{ section.settings.image.width }}w
        "
        src="{{ section.settings.image | image_url: width: 1500 }}"
        alt="{{ section.settings.image.alt | escape }}"
        loading="lazy"
        width=""
        height=""
        class="image-main-slider"
      >
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
    <section class=" text-buttom-container">
      {%- if section.settings.heading != blank -%}
        <h2>
          {{ section.settings.heading | escape }}
        </h2>
      {%- endif -%}

      {%- if section.settings.text != blank -%}
        <p>{{ section.settings.text | escape }}</p>
      {%- endif -%}
    </section>
  </section>
</section>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Image with text",
      "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "text",
      "info": "Enter your text here"
    }
  ]
}
{% endschema %}
