{%- style -%}
   
  .slide-wrapper{
      width:550px;
      height:550px;
  }
  .slide-text-wrapper{
      height:550px;
      width:550px;
      padding:3rem;
  }
  .both-text-slide-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      background-color:#434361;
      padding:2rem;
      margin:2rem;
  }
    
  @media screen and (max-width: 750px) {
    .both-text-slide-wrapper{
      display: flex;
      flex-direction: column;
      padding:0rem;
      padding-top:2rem;
      margin:0.6rem;
      margin-top:2rem;
    }
    .slide-wrapper{
      width:350px;
      height:300px;
    }
    .slide-text-wrapper{
      width:350px;
      padding:2px;
      padding-top:2rem;
    }
  }
{%- endstyle -%}


<slideshow-component 
  class="slider-mobile-gutter{% if section.settings.layout == 'grid' %} page-width{% endif %}{% if section.settings.show_text_below %} mobile-text-below{% endif %}" 
  role="region" aria-roledescription="{{ 'sections.slideshow.carousel' | t }}" 
  aria-label="{{ section.settings.accessibility_info | escape }}">

<section class="both-text-slide-wrapper">
  
<section class="slide-wrapper">
  <div class="slideshow banner banner--{{ section.settings.slide_height }} grid grid--1-col slider slider--everywhere{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if section.settings.slides.first.settings.image == blank %} slideshow--placeholder{% endif %}"
    id="Slider-{{ section.id }}">

    {%- for slide in section.settings.slides -%}
      <div class="slideshow__slide grid__item grid--1-col slider__slide"
        id="Slide-{{ section.id }}-{{ forloop.index }}">
        <div class="slideshow__media banner__media media{% if slide.image == blank %} placeholder{% endif %}">
          {%- if slide.image -%}
            <img
              srcset="{%- if slide.image.width >= 375 -%}{{ slide.image | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if slide.image.width >= 550 -%}{{ slide.image | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if slide.image.width >= 750 -%}{{ slide.image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if slide.image.width >= 1100 -%}{{ slide.image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if slide.image.width >= 1500 -%}{{ slide.image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {%- if slide.image.width >= 1780 -%}{{ slide.image | image_url: width: 1780 }} 1780w,{%- endif -%}
              {%- if slide.image.width >= 2000 -%}{{ slide.image | image_url: width: 2000 }} 2000w,{%- endif -%}
              {%- if slide.image.width >= 3000 -%}{{ slide.image | image_url: width: 3000 }} 3000w,{%- endif -%}
              {%- if slide.image.width >= 3840 -%}{{ slide.image | image_url: width: 3840 }} 3840w,{%- endif -%}
              {{ slide.image | image_url }} {{ slide.image.width }}"
              sizes="100vw"
              src="{{ slide.image | image_url: width: 1500 }}"
              loading="lazy"
              alt=""
              width=""
              height=""
            >
          {%- else -%}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        <section class="slide-text-wrapper">
          {%- if slide.heading != blank -%}
            <h2 class="banner__heading {{ slide.heading_size }}">{{ slide.heading | escape }}</h2>
          {%- endif -%}
          <br/>
          {%- if slide.subheading != blank -%}
            <div class="banner__text">
              <span>{{ slide.subheading | escape }}</span>
            </div>
          {%- endif -%}
          <br/>
          {%- if slide.button_label != blank -%}
            <div class="banner__buttons">
              <a{% if slide.link %} href="{{ slide.link }}"{% else %} role="link" aria-disabled="true"{% endif %} class="button {% if slide.button_style_secondary %}button--secondary{% else %}button--primary{% endif %}">{{ slide.button_label | escape }}</a>
            </div>
          {%- endif -%}
        </section>
      </div>
    {%- endfor -%}
    
  </div>

{%- if section.settings.slides.size > 1 and section.settings.auto_rotate == false -%}
    <div class="slideshow__controls slider-buttons no-js-hidden{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
      <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
      <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'sections.slideshow.next_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
    </div>
{%- endif -%}
</section>
  </section>
</slideshow-component>



{% schema %}
{
  "name": "Slideshow Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "Full Bleed"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "full_bleed",
      "label": "Layout"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "Adapt Image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "adapt_image",
      "label": "Slide Height"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "Auto Rotate",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "Show Text Below",
      "default": true
    },
    {
      "type": "text",
      "id": "shared_heading",
      "label": "Shared Heading",
      "default": "Shared Heading Text"
    },
    {
      "type": "text",
      "id": "shared_subheading",
      "label": "Shared Subheading",
      "default": "Shared Subheading Text"
    },
    {
      "type": "text",
      "id": "shared_button_label",
      "label": "Shared Button Label",
      "default": "Shared Button Label Text"
    }
  ],
  "presets": []
}
{% endschema %}



