{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
  <link
    rel="stylesheet"
    href="{{ 'quick-add.css' | asset_url }}"
    media="print"
    onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  :root  {
    --brown: #804d15;
    --white: #ffffff;
    --black: #000000;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }

  .scroll-wrapper {
    overflow: hidden; /* Hide any horizontal overflow */
  }

  .scroll-container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    background-color:none;
  }

  .filter-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    overflow-x: auto; 
  }

  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

/* Styles for sections */
.section-collection {
  display: none;
}
.section-collection.visible {
  display: block;
}

/* Additional styles for smaller screens */
  .scroll-container {
    flex-wrap: nowrap; 
  }
 
  .filter-button-abo {
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
  .filter-image-text-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    text-align:center;

    margin:0.6rem;
    min-width:150px;

    min-height:180px;

    border-radius: 10px;

    background-image: linear-gradient(to right, rgb(141, 36, 49), rgb(205, 22, 36));
    transition: background-image 0.3s ease; /* Adding transition for the background image */

    padding-right:0.5rem;
    padding-left:0.5rem;
}
.filter-image-text-container p {
  padding:0px;
  margin:0px;
}

  .filter-image-text-container:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(141, 36, 49), rgb(205, 22, 36)); /* New gradient on hover */

  }
  .filter-image-text-container:hover .image-button-filter {
   
    border: 4px solid transparent;
    box-shadow: 0 0 0 2px white, 0 0 0 16px transparent; 
    cursor: pointer;
}

  
  .image-button-filter{
    height:100px;
    width:100px;
    border-radius: 50%;
  }
 .xmas-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:16px;
 }

 @media (max-width: 1250px) {
  .filter-buttons {
    justify-content: flex-start; ´
    padding-right:0.5rem;
  }
}



{%- endstyle -%}

<section 
  class="slider-mobile-gutter{% if section.settings.layout == 'grid' %} page-width{% endif %}{% if section.settings.show_text_below %} mobile-text-below{% endif %}" 
  role="region" aria-roledescription="{{ 'sections.slideshow.carousel' | t }}" 
  aria-label="{{ section.settings.accessibility_info | escape }}">

  <section class="both-text-slide-wrapper">
    
    <section class="slide-wrapper">
      <div class="slideshow banner banner--{{ section.settings.slide_height }} grid grid--1-col slider slider--everywhere{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if section.blocks.first.settings.image == blank %} slideshow--placeholder{% endif %}"
        id="Slider-{{ section.id }}"
      >
        {%- for block in section.blocks -%}
      
          <div class="slideshow__slide grid__item grid--1-col slider__slide"
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            {{ block.shopify_attributes }}
      
          >
          <div class="slideshow__media banner__media media{% if block.settings.image == blank %} placeholder{% endif %}">
              {%- if block.settings.image -%}
                <img
                  srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
                  {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
                  {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
                  {{ block.settings.image | image_url }} {{ block.settings.image.width }}"
                  sizes="100vw"
                  src="{{ block.settings.image | image_url: width: 1500 }}"
                  loading="lazy"
                  alt=""
                  width=""
                  height=""
                >
              {%- else -%}
                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>

      {%- if section.blocks.size > 1 and section.settings.auto_rotate == false -%}
          <div class="slideshow__controls slider-buttons no-js-hidden{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'sections.slideshow.next_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
          </div>
      {%- endif -%}
    </section>
      
    <section class="slide-text-wrapper">

      {%- for block in section.blocks -%}
              {%- if block.settings.heading != blank -%}
                <h2 class="banner__heading {{ block.settings.heading_size }}">{{ block.settings.heading | escape }}</h2>
              {%- endif -%}
              <br/>
              {%- if block.settings.subheading != blank -%}
                <div class="banner__text" {{ block.shopify_attributes }}>
                  <span>{{ block.settings.subheading | escape }}</span>
                </div>
              {%- endif -%}
              <br/>
              {%- if block.settings.button_label != blank -%}
                <div class="banner__buttons">
                  <a{% if block.settings.link %} href="{{ block.settings.link }}"{% else %} role="link" aria-disabled="true"{% endif %} class="button {% if block.settings.button_style_secondary %}button--secondary{% else %}button--primary{% endif %}">{{ block.settings.button_label | escape }}</a>
                </div>
              {%- endif -%}
      {%- endfor -%}
      
    </section>

  </section>
  
</section>

<div class="scroll-wrapper english-set" style="display: none;">
  {%- if section.settings.XMAS_TITLE != blank -%}
    <h2 class="xmas-title">
      {{ section.settings.XMAS_TITLE | escape }}
    </h2>
  {%- endif -%}
  <div class="scroll-container custom-column-content">
    <div class="filter-buttons">
      <section 
        class="filter-image-text-container"   
        onclick="toggleSection('x-mas-sub')"
        data-section="x-mas-sub"
        >
        {%- if section.settings.x_mas_sub != blank -%}
          <img
            srcset="
              {%- if section.settings.x_mas_sub.width >= 165 -%}{{ section.settings.x_mas_sub | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.x_mas_sub.width >= 360 -%}{{ section.settings.x_mas_sub | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.x_mas_sub.width >= 535 -%}{{ section.settings.x_mas_sub | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if section.settings.x_mas_sub.width >= 750 -%}{{ section.settings.x_mas_sub | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.x_mas_sub.width >= 1070 -%}{{ section.settings.x_mas_sub | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if section.settings.x_mas_sub.width >= 1500 -%}{{ section.settings.x_mas_sub | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ section.settings.x_mas_sub | image_url }} {{ section.settings.x_mas_sub.width }}
            "
            src="{{ section.settings.image_2| image_url: width: 1500 }}"
            alt="{{ section.settings.x_mas_sub.alt | escape }}"
            loading="lazy"
            width=""
            height=""
            class="image-button-filter"
            
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
        <p>SUBSCRIPTIONS</p>
      </section>
          
      <section 
        class="filter-image-text-container"
        onclick="toggleSection('x-mas-bookie')"
        data-section="x-mas-bookie"
        >
        {%- if section.settings.x_mas_bookie != blank -%}
          <img
            srcset="
              {%- if section.settings.x_mas_bookie.width >= 165 -%}{{ section.settings.x_mas_bookie | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.x_mas_bookie.width >= 360 -%}{{ section.settings.x_mas_bookie | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.x_mas_bookie.width >= 535 -%}{{ section.settings.x_mas_bookie | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if section.settings.x_mas_bookie.width >= 750 -%}{{ section.settings.x_mas_bookie | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.x_mas_bookie.width >= 1070 -%}{{ section.settings.x_mas_bookie | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if section.settings.x_mas_bookie.width >= 1500 -%}{{ section.settings.x_mas_bookie | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ section.settings.x_mas_bookie | image_url }} {{ section.settings.x_mas_bookie.width }}
            "
            src="{{ section.settings.image_2| image_url: width: 1500 }}"
            alt="{{ section.settings.x_mas_bookie.alt | escape }}"
            loading="lazy"
            width=""
            height=""
            class="image-button-filter"
            onclick="toggleSection('x-mas-bookie')"
            data-section="x-mas-bookie"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
        <p>BOOKS</p>
      </section>

      <section 
        class="filter-image-text-container"
        onclick="toggleSection('x-mas-giftcard')"
        data-section="x-mas-giftcard"
        >
        {%- if section.settings.x_mas_giftcard != blank -%}
          <img
            srcset="
              {%- if section.settings.x_mas_giftcard .width >= 165 -%}{{ section.settings.x_mas_giftcard  | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.x_mas_giftcard .width >= 360 -%}{{ section.settings.x_mas_giftcard  | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.x_mas_giftcard .width >= 535 -%}{{ section.settings.x_mas_giftcard  | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if section.settings.x_mas_giftcard .width >= 750 -%}{{ section.settings.x_mas_giftcard  | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.x_mas_giftcard .width >= 1070 -%}{{ section.settings.x_mas_giftcard  | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if section.settings.x_mas_giftcard .width >= 1500 -%}{{ section.settings.x_mas_giftcard  | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ section.settings.x_mas_giftcard  | image_url }} {{ section.settings.x_mas_giftcard .width }}
            "
            src="{{ section.settings.image_2| image_url: width: 1500 }}"
            alt="{{ section.settings.x_mas_giftcard .alt | escape }}"
            loading="lazy"
            width=""
            height=""
            class="image-button-filter"
            onclick="toggleSection('x-mas-giftcard')"
            data-section="x-mas-giftcard"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
        <p>VOUCHERS</p>
      </section>

      <section 
        class="filter-image-text-container"
        onclick="toggleSection('x-mas-fellowi')"
        data-section="x-mas-fellow"
        >
        {%- if section.settings.x_mas_fellowi != blank -%}
          <img
            srcset="
              {%- if section.settings.x_mas_fellowi.width >= 165 -%}{{ section.settings.x_mas_fellowi | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.x_mas_fellowi.width >= 360 -%}{{ section.settings.x_mas_fellowi | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.x_mas_fellowi.width >= 535 -%}{{ section.settings.x_mas_fellowi | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if section.settings.x_mas_fellowi.width >= 750 -%}{{ section.settings.x_mas_fellowi | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.x_mas_fellowi.width >= 1070 -%}{{ section.settings.x_mas_fellowi | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if section.settings.x_mas_fellowi.width >= 1500 -%}{{ section.settings.x_mas_fellowi | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ section.settings.x_mas_fellowi | image_url }} {{ section.settings.x_mas_fellowi.width }}
            "
            src="{{ section.settings.image_2| image_url: width: 1500 }}"
            alt="{{ section.settings.x_mas_fellowi.alt | escape }}"
            loading="lazy"
            width=""
            height=""
            class="image-button-filter"
            onclick="toggleSection('x-mas-fellowi')"
            data-section="x-mas-fellowi"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
        <p>FELLOW</p>
      </section>

      <section 
        class="filter-image-text-container"
        onclick="toggleSection('x-mas-equip')"
        data-section="x-mas-equip"
        >
        {%- if section.settings.x_mas_equip != blank -%}
          <img
            srcset="
              {%- if section.settings.x_mas_equip.width >= 165 -%}{{ section.settings.x_mas_equip | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.x_mas_equip.width >= 360 -%}{{ section.settings.x_mas_equip | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.x_mas_equip.width >= 535 -%}{{ section.settings.x_mas_equip | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if section.settings.x_mas_equip.width >= 750 -%}{{ section.settings.x_mas_equip | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.x_mas_equip.width >= 1070 -%}{{ section.settings.x_mas_equip | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if section.settings.x_mas_equip.width >= 1500 -%}{{ section.settings.x_mas_equip | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ section.settings.x_mas_equip | image_url }} {{ section.settings.x_mas_equip.width }}
            "
            src="{{ section.settings.image_2| image_url: width: 1500 }}"
            alt="{{ section.settings.x_mas_equip.alt | escape }}"
            loading="lazy"
            width=""
            height=""
            class="image-button-filter"
            onclick="toggleSection('x-mas-equip')"
            data-section="x-mas-equip"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
        <p>EQUIPMENT</p>
      </section>

      <section 
        class="filter-image-text-container"
        onclick="toggleSection('x-mas-boxi')"
        data-section="x-mas-boxi"
        >
        {%- if section.settings.x_mas_boxi != blank -%}
          <img
            srcset="
              {%- if section.settings.x_mas_boxi.width >= 165 -%}{{ section.settings.x_mas_boxi | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.x_mas_boxi.width >= 360 -%}{{ section.settings.x_mas_boxi | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.x_mas_boxi.width >= 535 -%}{{ section.settings.x_mas_boxi | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if section.settings.x_mas_boxi.width >= 750 -%}{{ section.settings.x_mas_boxi | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.x_mas_boxi.width >= 1070 -%}{{ section.settings.x_mas_boxi | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if section.settings.x_mas_boxi.width >= 1500 -%}{{ section.settings.x_mas_boxi | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ section.settings.x_mas_boxi | image_url }} {{ section.settings.x_mas_boxi.width }}
            "
            src="{{ section.settings.image_2| image_url: width: 1500 }}"
            alt="{{ section.settings.x_mas_boxi.alt | escape }}"
            loading="lazy"
            width=""
            height=""
            class="image-button-filter"
            onclick="toggleSection('x-mas-boxi')"
            data-section="x-mas-boxi"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
        <p>BUNDLES</p>
      </section>

      <section 
        class="filter-image-text-container"
        onclick="toggleSection('x-mas-essent')"
        data-section="x-mas-essent"
        >
        {%- if section.settings.x_mas_essent != blank -%}
          <img
            srcset="
              {%- if section.settings.x_mas_essent.width >= 165 -%}{{ section.settings.x_mas_essent | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.x_mas_essent.width >= 360 -%}{{ section.settings.x_mas_essent | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.x_mas_essent.width >= 535 -%}{{ section.settings.x_mas_essent | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if section.settings.x_mas_essent.width >= 750 -%}{{ section.settings.x_mas_essent | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.x_mas_essent.width >= 1070 -%}{{ section.settings.x_mas_essent | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if section.settings.x_mas_essent.width >= 1500 -%}{{ section.settings.x_mas_essent | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ section.settings.x_mas_essent | image_url }} {{ section.settings.x_mas_essent.width }}
            "
            src="{{ section.settings.image_2| image_url: width: 1500 }}"
            alt="{{ section.settings.x_mas_essent.alt | escape }}"
            loading="lazy"
            width=""
            height=""
            class="image-button-filter"
            onclick="toggleSection('x-mas-essent')"
            data-section="x-mas-essent"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
        <p>ESSENTIALS</p>
      </section>
    </div>
  </div>
</div>

<div class="scroll-wrapper german-set" style="display: none;">
  <div class="scroll-container">
    <div class="filter-buttons">
      <button
        onclick="toggleSection('favoritos')"
        class="filter-button-abo active"
        data-section="favoritos">X-Abosh</button>
      <button
        onclick="toggleSection('gift')"
        class="filter-button-abo"
        data-section="gift">X-Bundlessh</button>
      <button
        onclick="toggleSection('specials')"
        class="filter-button-abo"
        data-section="specials">X-Bookssh</button>
      <button
        onclick="toggleSection('specials')"
        class="filter-button-abo"
        data-section="specials">X-Fellowsh</button>
      <button
        onclick="toggleSection('specials')"
        class="filter-button-abo"
        data-section="specials">X-Cardssh</button>
      <button
        onclick="toggleSection('specials')"
        class="filter-button-abo"
        data-section="specials">X-Top 4sh</button>
      <button
        onclick="toggleSection('specials')"
        class="filter-button-abo"
        data-section="specials">X-Equipntsh</button>
    </div>
  </div>
</div>

<div class="section-{{ section.id }}-padding">
  <div class="product-grid-container" id="ProductGridContainer">
    {% if section.settings.collection.products.size > 0 %}      
        <div class="sections-container">
        
        {% comment %} ///////////////////////////////////////////////////// {% endcomment %}
        <section class="section-collection visible" id="x-mas-sub">
          <h3 class="product-type-header"></h3>
          <ul
            id="product-grid"
            data-id="{{ section.id }}"
            class="grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down"
            grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
            grid--{{ section.settings.columns_desktop }}-col-desktop">
            {% for product in section.settings.collection.products %}
              {% if product.tags contains "x-mas-subscription" %}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li class="grid__item">
                  {% render 'card-product'
                   , card_product: product,
                   media_aspect_ratio: section.settings.image_ratio,
                   show_secondary_image: section.settings.show_secondary_image,
                   show_vendor: section.settings.show_vendor,
                   show_rating: section.settings.show_rating,
                   lazy_load: lazy_load,
                   show_quick_add: section.settings.enable_quick_add,
                   section_id: section.id,
                   show_tastenotes: section.settings.show_tastenotes %}
                </li>
              {% endif %}
            {%- endfor -%}
          </ul>
        </section>
        {% comment %} ///////////////////////////////////////////////////// {% endcomment %}
        <section class="section-collection visible" id="x-mas-bookie">
          <h3 class="product-type-header"></h3>
          <ul
            id="product-grid"
            data-id="{{ section.id }}"
            class="grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down"
              grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop">
            {% for product in section.settings.collection.products %}
              {% if product.tags contains "x-mas-book" %}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li class="grid__item">
                  {% render 'card-product'
                   , card_product: product,
                   media_aspect_ratio: section.settings.image_ratio,
                   show_secondary_image: section.settings.show_secondary_image,
                   show_vendor: section.settings.show_vendor,
                   show_rating: section.settings.show_rating,
                   lazy_load: lazy_load,
                   show_quick_add: section.settings.enable_quick_add,
                   section_id: section.id,
                   show_tastenotes: section.settings.show_tastenotes %}
                </li>
              {% endif %}
            {%- endfor -%}
          </ul>
        </section>
        {% comment %} ///////////////////////////////////////////////////// {% endcomment %}
        <section class="section-collection visible" id="x-mas-giftcard">
            <h3 class="product-type-header"></h3>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down" grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop ">
              {% for product in section.settings.collection.products %}
                {% if product.tags contains "x-mas-voucher" %}
                  {% assign lazy_load = false %}
                  {%- if forloop.index > 2 -%}
                    {%- assign lazy_load = true -%}
                  {%- endif -%}
                  <li class="grid__item">
                    {% render 'card-product'
                     , card_product: product,
                     media_aspect_ratio: section.settings.image_ratio,
                     show_secondary_image: section.settings.show_secondary_image,
                     show_vendor: section.settings.show_vendor,
                     show_rating: section.settings.show_rating,
                     lazy_load: lazy_load,
                     show_quick_add: section.settings.enable_quick_add,
                     section_id: section.id,
                     show_tastenotes: section.settings.show_tastenotes %}
                  </li>
                {% endif %}
              {%- endfor -%}
            </ul>
        </section>
        {% comment %} ///////////////////////////////////////////////////// {% endcomment %}
        <section class="section-collection visible" id="x-mas-fellowi">
            <h3 class="product-type-header"></h3>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down" grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop ">
              {% for product in section.settings.collection.products %}
                {% if product.tags contains "x-mas-fellow" %}
                  {% assign lazy_load = false %}
                  {%- if forloop.index > 2 -%}
                    {%- assign lazy_load = true -%}
                  {%- endif -%}
                  <li class="grid__item">
                    {% render 'card-product'
                     , card_product: product,
                     media_aspect_ratio: section.settings.image_ratio,
                     show_secondary_image: section.settings.show_secondary_image,
                     show_vendor: section.settings.show_vendor,
                     show_rating: section.settings.show_rating,
                     lazy_load: lazy_load,
                     show_quick_add: section.settings.enable_quick_add,
                     section_id: section.id,
                     show_tastenotes: section.settings.show_tastenotes %}
                  </li>
                {% endif %}
              {%- endfor -%}
            </ul>
        </section>
        {% comment %} ///////////////////////////////////////////////////// {% endcomment %}
        <section class="section-collection visible" id="x-mas-equip">
            <h3 class="product-type-header"></h3>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down" grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop ">
              {% for product in section.settings.collection.products %}
                {% if product.tags contains "x-mas-equipment" %}
                  {% assign lazy_load = false %}
                  {%- if forloop.index > 2 -%}
                    {%- assign lazy_load = true -%}
                  {%- endif -%}
                  <li class="grid__item">
                    {% render 'card-product'
                     , card_product: product,
                     media_aspect_ratio: section.settings.image_ratio,
                     show_secondary_image: section.settings.show_secondary_image,
                     show_vendor: section.settings.show_vendor,
                     show_rating: section.settings.show_rating,
                     lazy_load: lazy_load,
                     show_quick_add: section.settings.enable_quick_add,
                     section_id: section.id,
                     show_tastenotes: section.settings.show_tastenotes %}
                  </li>
                {% endif %}
              {%- endfor -%}
            </ul>
        </section>
        {% comment %} ///////////////////////////////////////////////////// {% endcomment %}
        <section class="section-collection visible" id="x-mas-boxi">
          <h3 class="product-type-header"></h3>
          <ul
            id="product-grid"
            data-id="{{ section.id }}"
            class="grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down" grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop ">
            {% for product in section.settings.collection.products %}
              {% if product.tags contains "x-mas-box" %}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li class="grid__item">
                  {% render 'card-product'
                    , card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id,
                    show_tastenotes: section.settings.show_tastenotes %}
                </li>
              {% endif %}
            {%- endfor -%}
          </ul>
        </section>
        {% comment %} ///////////////////////////////////////////////////// {% endcomment %}
        <section class="section-collection visible" id="x-mas-essent">
          <h3 class="product-type-header"></h3>
          <ul
            id="product-grid"
            data-id="{{ section.id }}"
            class="grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down" grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop ">
            {% for product in section.settings.collection.products %}
              {% if product.tags contains "x-mas-essentials" %}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li class="grid__item">
                  {% render 'card-product'
                    , card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id,
                    show_tastenotes: section.settings.show_tastenotes %}
                </li>
              {% endif %}
            {%- endfor -%}
          </ul>
        </section>


      </div>
    {% else %}
      <p>no products </p>
    {% endif %}  
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    var lang = window.location.pathname.split('/')[1];
    var englishSet = document.querySelector('.english-set');
    var germanSet = document.querySelector('.german-set');
    
    if (lang === 'de') {
        englishSet.style.display = 'none';
        germanSet.style.display = '';
    } else {
        englishSet.style.display = '';
        germanSet.style.display = 'none';
    }
});
</script>

<script>
  // This part at the beginning of the script to set the default filter
  window.addEventListener('DOMContentLoaded', (event) => {
    toggleSection('favoritos'); // Set the default active filter (e.g., 'favoritos')
  });

  function toggleSection(sectionId) {
    const buttons = document.querySelectorAll('.filter-button-abo');
    const sections = document.querySelectorAll('.section-collection');


    buttons.forEach(btn => {
      const isActive = btn.getAttribute('data-section') === sectionId;

      if (isActive) {
        btn.classList.add('active', 'border-button');
      } else {
        btn.classList.remove('active', 'border-button');
      }
    });

    sections.forEach(section => {
      if (section.id === sectionId) {
        section.classList.add('visible');
      } else {
        section.classList.remove('visible');
      }
    });

// Add the active class to the clicked button
    const activeButton = document.querySelector(`.filter-button-abo[data-section="${sectionId}"]`);
    if (activeButton) {
      activeButton.classList.add('active', 'border-button');
    }
  }
</script>

{% schema %}
  {
    "name": "x-mas section",
    "class": "section",
    "settings": [
        {
      "type": "collection",
      "id": "collection",
      "label": "Select collection"
    },
    {
          "type": "text",
          "id": "XMAS_TITLE",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
    {
      "type": "image_picker",
      "id": "x_mas_sub",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "x_mas_bookie",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "x_mas_giftcard",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "x_mas_fellowi",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "x_mas_equip",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "x_mas_boxi",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "x_mas_essent",
      "label": "t:sections.image-with-text.settings.image.label"
    },
      {
        "type": "range",
        "id": "products_per_page",
        "min": 8,
        "max": 64,
        "step": 4,
        "default": 16,
        "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4,
        "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
      },
      {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header__3.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
          }, {
            "value": "portrait",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
          }, {
            "value": "square",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
      }, {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
      }, {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
      }, {
        "type": "checkbox",
        "id": "show_tastenotes",
        "default": false,
        "label": "Show Tastenote or Tagline"
      }, {
        "type": "checkbox",
        "id": "show_rating",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
        "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
      }, {
        "type": "checkbox",
        "id": "enable_quick_add",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
      }, {
        "type": "color",
        "id": "quick_add_button_color",
        "label": "Quick Add Button Color"
      }, {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header__1.content"
      }, {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
      }, {
        "type": "select",
        "id": "columns_mobile",
        "default": "2",
        "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
        "options": [
          {
            "value": "1",
            "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
          }, {
            "value": "2",
            "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
          }
        ]
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "x-mas section",
        "category": "Custom"
      }

    ]
  }
{% endschema %}