{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
  <link
    rel="stylesheet"
    href="{{ 'quick-add.css' | asset_url }}"
    media="print"
    onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}

.under-line-white {
  border-bottom: 2px solid white; 
}
.section-{{ section.id }}-padding {
  padding-top:0px;
  padding-bottom: 0px;
}
.xmas-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:24px;
}
.scroll-wrapper {
  overflow: hidden; /* Hide any horizontal overflow */
  padding:1rem;
}


.filter-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  max-height: 69px;
  overflow-y: none;

}
.section-collection {
  display: none;
}
.section-collection.visible {
  display: block;
}
.grid-border-box{
  border-bottom:none;
}

.filter-button-abo {
  margin-left: 1rem;
  margin-right: 1.5rem;
}
.filter-image-text-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
  margin:0.6rem;
  margin-right:4rem;
}
.filter-image-text-container p{
 
  cursor:pointer;
}

.scroll-container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  background-color:none;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}
@media (max-width: 990px) {
  .filter-buttons {
    justify-content: flex-start; ´
    padding-right:0.5rem;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.filter-buttons::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.filter-buttons {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

{%- endstyle -%}


<div class="scroll-wrapper">
  {%- if section.settings.XMAS_TITLE != blank -%}
    <h2 class="xmas-title">
      🎁 {{ section.settings.XMAS_TITLE | escape }} 🎁
    </h2>
  {%- endif -%}
  <div class="scroll-container">
    <div class="filter-buttons">
    
    <section 
      class="filter-image-text-container"
      onclick="toggleSection('x-mas-boxi')"
      data-section="x-mas-boxi"
      tabindex="0"
      >
      {%- if section.settings.XMAS_BUNDLES != blank -%}
        <p>
          {{ section.settings.XMAS_BUNDLES | escape }}
        </p>
      {%- endif -%}
    </section>

    <section 
      class="filter-image-text-container"
      onclick="toggleSection('x-mas-essent')"
      data-section="x-mas-essent"
      tabindex="0"
      >
      {%- if section.settings.XMAS_ESSENTIALS != blank -%}
        <p>
          {{ section.settings.XMAS_ESSENTIALS | escape }}
        </p>
      {%- endif -%}
    </section>

    <section 
      class="filter-image-text-container"
      onclick="toggleSection('x-mas-bookie')"
      data-section="x-mas-bookie"
      tabindex="0"
      >
      {%- if section.settings.XMAS_BOOKS != blank -%}
        <p>
          {{ section.settings.XMAS_BOOKS | escape }}
        </p>
      {%- endif -%}
    </section>

    <section 
      class="filter-image-text-container"
      onclick="toggleSection('x-mas-fellowi')"
      data-section="x-mas-fellowi"
      tabindex="0"
      >
      {%- if section.settings.XMAS_FELLOW != blank -%}
        <p>
          {{ section.settings.XMAS_FELLOW | escape }}
        </p>
      {%- endif -%}
    </section>

    <section 
      class="filter-image-text-container"
      onclick="toggleSection('x-mas-equip')"
      data-section="x-mas-equip"
      tabindex="0"
      >
      {%- if section.settings.XMAS_EQUIPMENT != blank -%}
        <p>
          {{ section.settings.XMAS_EQUIPMENT | escape }}
        </p>
      {%- endif -%}
    </section>

    <section 
        class="filter-image-text-container"   
        onclick="toggleSection('x-mas-sub')"
        data-section="x-mas-sub"
        tabindex="0"
        >
        {%- if section.settings.XMAS_SUBSCRIPTIONS != blank -%}
          <p>
            {{ section.settings.XMAS_SUBSCRIPTIONS | escape }}
          </p>
        {%- endif -%}
    </section>
        
    </div>
  </div>
</div>


{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}
<section class="section-collection visible" id="x-mas-boxi">

    <div class="color-{{ section.settings.color_scheme }} isolate gradient">
      <div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}">
          <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
            {%- if section.settings.title != blank -%}
              <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</h2>
            {%- endif -%}
            {%- if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
              <div class="collection__description {{ section.settings.description_style }}">{%- if section.settings.show_description -%}{{ section.settings.collection.description }}{%- else -%}{{ section.settings.description }}{% endif %}</div>
            {%- endif -%}
          </div>
    
        <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}">
          <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'sections.featured_collection.slider' | t }}">
            {% for product in section.settings.collection.products %}
              {% if product.tags contains "x-mas-box" %}
                <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id
                  %}
                </li>
              {% endif %}
            {%- endfor -%}
            
          </ul>
          {%- if show_mobile_slider or show_desktop_slider -%}
            <div class="slider-buttons no-js-hidden">
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
              <div class="slider-counter caption">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                <span class="slider-counter--total">{{ products_to_display }}</span>
              </div>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
            </div>
          {%- endif -%}
        </slider-component>
    
        {%- if section.settings.show_view_all and more_in_collection -%}
          <div class="center collection__view-all">
            <a href="{{ section.settings.collection.url }}"
              class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
              aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
            >
              {{ 'sections.featured_collection.view_all' | t }}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>


</section>

<section class="section-collection" id="x-mas-essent">

    <div class="color-{{ section.settings.color_scheme }} isolate gradient">
      <div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}">
          <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
            {%- if section.settings.title != blank -%}
              <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</h2>
            {%- endif -%}
            {%- if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
              <div class="collection__description {{ section.settings.description_style }}">{%- if section.settings.show_description -%}{{ section.settings.collection.description }}{%- else -%}{{ section.settings.description }}{% endif %}</div>
            {%- endif -%}
          </div>
    
        <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}">
          <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'sections.featured_collection.slider' | t }}">
            {% for product in section.settings.collection.products %}
              {% if product.tags contains "x-mas-essentials" %}
                <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id
                  %}
                </li>
              {% endif %}
            {%- endfor -%}
            
          </ul>
          {%- if show_mobile_slider or show_desktop_slider -%}
            <div class="slider-buttons no-js-hidden">
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
              <div class="slider-counter caption">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                <span class="slider-counter--total">{{ products_to_display }}</span>
              </div>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
            </div>
          {%- endif -%}
        </slider-component>
    
        {%- if section.settings.show_view_all and more_in_collection -%}
          <div class="center collection__view-all">
            <a href="{{ section.settings.collection.url }}"
              class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
              aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
            >
              {{ 'sections.featured_collection.view_all' | t }}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>


</section>

<section class="section-collection " id="x-mas-fellowi">

    <div class="color-{{ section.settings.color_scheme }} isolate gradient">
      <div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}">
          <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
            {%- if section.settings.title != blank -%}
              <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</h2>
            {%- endif -%}
            {%- if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
              <div class="collection__description {{ section.settings.description_style }}">{%- if section.settings.show_description -%}{{ section.settings.collection.description }}{%- else -%}{{ section.settings.description }}{% endif %}</div>
            {%- endif -%}
          </div>
    
        <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}">
          <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'sections.featured_collection.slider' | t }}">
            {% for product in section.settings.collection.products %}
              {% if product.tags contains "x-mas-fellow" %}
                <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id
                  %}
                </li>
              {% endif %}
            {%- endfor -%}
            
          </ul>
          {%- if show_mobile_slider or show_desktop_slider -%}
            <div class="slider-buttons no-js-hidden">
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
              <div class="slider-counter caption">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                <span class="slider-counter--total">{{ products_to_display }}</span>
              </div>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
            </div>
          {%- endif -%}
        </slider-component>
    
        {%- if section.settings.show_view_all and more_in_collection -%}
          <div class="center collection__view-all">
            <a href="{{ section.settings.collection.url }}"
              class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
              aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
            >
              {{ 'sections.featured_collection.view_all' | t }}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>


</section>

<section class="section-collection " id="x-mas-equip">

    <div class="color-{{ section.settings.color_scheme }} isolate gradient">
      <div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}">
          <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
            {%- if section.settings.title != blank -%}
              <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</h2>
            {%- endif -%}
            {%- if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
              <div class="collection__description {{ section.settings.description_style }}">{%- if section.settings.show_description -%}{{ section.settings.collection.description }}{%- else -%}{{ section.settings.description }}{% endif %}</div>
            {%- endif -%}
          </div>
    
        <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}">
          <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'sections.featured_collection.slider' | t }}">
            {% for product in section.settings.collection.products %}
              {% if product.tags contains "x-mas-equipment" %}
                <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id
                  %}
                </li>
              {% endif %}
            {%- endfor -%}
            
          </ul>
          {%- if show_mobile_slider or show_desktop_slider -%}
            <div class="slider-buttons no-js-hidden">
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
              <div class="slider-counter caption">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                <span class="slider-counter--total">{{ products_to_display }}</span>
              </div>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
            </div>
          {%- endif -%}
        </slider-component>
    
        {%- if section.settings.show_view_all and more_in_collection -%}
          <div class="center collection__view-all">
            <a href="{{ section.settings.collection.url }}"
              class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
              aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
            >
              {{ 'sections.featured_collection.view_all' | t }}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>


</section>

<section class="section-collection " id="x-mas-bookie">

    <div class="color-{{ section.settings.color_scheme }} isolate gradient">
      <div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}">
          <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
            {%- if section.settings.title != blank -%}
              <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</h2>
            {%- endif -%}
            {%- if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
              <div class="collection__description {{ section.settings.description_style }}">{%- if section.settings.show_description -%}{{ section.settings.collection.description }}{%- else -%}{{ section.settings.description }}{% endif %}</div>
            {%- endif -%}
          </div>
    
        <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}">
          <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'sections.featured_collection.slider' | t }}">
            {% for product in section.settings.collection.products %}
              {% if product.tags contains "x-mas-book" %}
                <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id
                  %}
                </li>
              {% endif %}
            {%- endfor -%}
            
          </ul>
          {%- if show_mobile_slider or show_desktop_slider -%}
            <div class="slider-buttons no-js-hidden">
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
              <div class="slider-counter caption">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                <span class="slider-counter--total">{{ products_to_display }}</span>
              </div>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
            </div>
          {%- endif -%}
        </slider-component>
    
        {%- if section.settings.show_view_all and more_in_collection -%}
          <div class="center collection__view-all">
            <a href="{{ section.settings.collection.url }}"
              class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
              aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
            >
              {{ 'sections.featured_collection.view_all' | t }}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>


</section>

<section class="section-collection " id="x-mas-sub">

    <div class="color-{{ section.settings.color_scheme }} isolate gradient">
      <div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}">
          <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
            {%- if section.settings.title != blank -%}
              <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</h2>
            {%- endif -%}
            {%- if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
              <div class="collection__description {{ section.settings.description_style }}">{%- if section.settings.show_description -%}{{ section.settings.collection.description }}{%- else -%}{{ section.settings.description }}{% endif %}</div>
            {%- endif -%}
          </div>
    
        <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}">
          <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'sections.featured_collection.slider' | t }}">
            {% for product in section.settings.collection.products %}
              {% if product.tags contains "x-mas-subscription" %}
                <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id
                  %}
                </li>
              {% endif %}
            {%- endfor -%}
            
          </ul>
          {%- if show_mobile_slider or show_desktop_slider -%}
            <div class="slider-buttons no-js-hidden">
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
              <div class="slider-counter caption">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                <span class="slider-counter--total">{{ products_to_display }}</span>
              </div>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
            </div>
          {%- endif -%}
        </slider-component>
    
        {%- if section.settings.show_view_all and more_in_collection -%}
          <div class="center collection__view-all">
            <a href="{{ section.settings.collection.url }}"
              class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
              aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
            >
              {{ 'sections.featured_collection.view_all' | t }}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>


</section>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const defaultSection = document.getElementById('x-mas-boxi');
    defaultSection.classList.add('visible');

    const defaultButton = document.querySelector('.filter-image-text-container[data-section="x-mas-boxi"]');
    defaultButton.classList.add('under-line-white');

    const buttons = document.querySelectorAll('.filter-image-text-container');
    buttons.forEach(button => {
      button.addEventListener('click', () => {
        const sectionId = button.getAttribute('data-section');
        const sections = document.querySelectorAll('.section-collection');

        sections.forEach(section => {
          section.classList.remove('visible');
        });

        const clickedSection = document.getElementById(sectionId);
        clickedSection.classList.add('visible');

        buttons.forEach(btn => {
          btn.classList.remove('under-line-white'); // Remove color from all buttons
        });

        button.classList.add('under-line-white'); // Apply color only to the clicked button
      });
    });
  });

  function toggleSection(sectionId) {
    const buttons = document.querySelectorAll('.filter-button-abo');
    const sections = document.querySelectorAll('.section-collection');


    buttons.forEach(btn => {
      const isActive = btn.getAttribute('data-section') === sectionId;

      if (isActive) {
        btn.classList.add('active', 'border-button');
      } else {
        btn.classList.remove('active', 'border-button');
      }
    });

    sections.forEach(section => {
      if (section.id === sectionId) {
        section.classList.add('visible');
      } else {
        section.classList.remove('visible');
      }
    });

  // Add the active class to the clicked button
    const activeButton = document.querySelector(`.filter-button-abo[data-section="${sectionId}"]`);
    if (activeButton) {
      activeButton.classList.add('active', 'border-button');
    }
  }
</script>


{% schema %}
  {
    "name": "x-mas section",
    "class": "section",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Select collection"
      },
      {
        "type": "text",
        "id": "XMAS_TITLE",
        "default": "Image with text",
        "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
      },
      {
        "type": "text",
        "id": "XMAS_BUNDLES",
        "default": "Image with text",
        "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
      },
      {
        "type": "text",
        "id": "XMAS_ESSENTIALS",
        "default": "Image with text",
        "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
      },
      {
        "type": "text",
        "id": "XMAS_BOOKS",
        "default": "Image with text",
        "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
      },
      {
        "type": "text",
        "id": "XMAS_FELLOW",
        "default": "Image with text",
        "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
      },
      {
        "type": "text",
        "id": "XMAS_EQUIPMENT",
        "default": "Image with text",
        "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
      },
      {
        "type": "text",
        "id": "XMAS_SUBSCRIPTIONS",
        "default": "Image with text",
        "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
      },
      {
        "type": "range",
        "id": "products_per_page",
        "min": 8,
        "max": 64,
        "step": 4,
        "default": 16,
        "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4,
        "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
      },
      {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header__3.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
          }, {
            "value": "portrait",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
          }, {
            "value": "square",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
      }, 
      {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
      }, 
      {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
      }, 
      {
        "type": "checkbox",
        "id": "show_tastenotes",
        "default": false,
        "label": "Show Tastenote or Tagline"
      }, 
      {
        "type": "checkbox",
        "id": "show_rating",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
        "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
      }, 
      {
        "type": "checkbox",
        "id": "enable_quick_add",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
      }, 
      {
        "type": "color",
        "id": "quick_add_button_color",
        "label": "Quick Add Button Color"
      }, 
      {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
      {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header__1.content"
      }, 
      {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
      }, 
      {
        "type": "select",
        "id": "columns_mobile",
        "default": "2",
        "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
        "options": [
          {
            "value": "1",
            "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
          }, {
            "value": "2",
            "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
          }
        ]
      }, 
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, 
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, 
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "x-mas section",
        "category": "Custom"
      }

    ]
  }
{% endschema %}